@import "styles/colors.module.scss";

.button {
  margin: 0.5em 0;
  padding: 1em 2em;
  border: none;
  border-radius: 4px;
  max-height: fit-content;
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s;
}

.primary {
  background: $brand-blue;
  color: $white;
  &:hover {
    background: darken($brand-blue, 10%);
  }
}

.primary-outline {
  background: transparent;
  color: $brand-blue;
  border: 1px solid $brand-blue;
  &:hover {
    background: $brand-blue;
    color: $white;
  }
}

.secondary {
  background: $brand-yellow;
  color: $white;
  &:hover {
    background: darken($brand-yellow, 15%);
  }
}

.secondary-outline {
  background: transparent;
  color: $brand-yellow;
  border: 1px solid $brand-yellow;
  &:hover {
    background: $brand-yellow;
    color: $white;
  }
}

.tertiary {
  background: $gray;
  color: $gray-darker;
}
