/* Brand Colors */
$brand-blue: #1089ff;
$brand-yellow: #e6ba36;

/* Brand Variations */
$blue-darker: #172b4d;

/* Neutral Colors */
$white: #fff;
$gray-lighter: #eee;
$gray-light: #ddd;
$gray: #aaa;
$gray-dark: #777;
$gray-darker: #333;
$black: #000;
