@import "styles/colors.module.scss";

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 0 6em 0;
  background: $brand-blue;
  background-image: linear-gradient(
      rgba(62, 136, 233, 0.85),
      rgba(62, 136, 233, 0.85)
    ),
    url("../../assets/images/ales-hackathon.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    padding: 5em 2em 3em 2em;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
      &:last-child {
        margin-top: 2em;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .landingContainer {
    padding: 10em 0 20em 0;
    .headerContainer {
      height: 50%;
    }
    .buttonsContainer {
      margin-top: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: fit-content;
      width: 30%;
      button {
        margin-top: 0;
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }
}
