@import "styles/colors.module.scss";

.aboutUsContainer {
  padding: 5em 2em 1em 2em;
  background: $brand-yellow;
  color: $white;

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .dataContainer {
      display: flex;
      flex-direction: column;
      padding: 2em 25%;

      h4 {
        margin: 0.8em 0;
      }
    }

    .sponsorshipContainer {
      width: 100%;

      h4 {
        font-size: 20px;
      }

      .logosContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2em 0;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .aboutUsContainer {
    .contentContainer {
      flex-direction: row;

      .dataContainer {
        justify-content: flex-start;
        width: 50%;
        padding: 0;
      }

      .sponsorshipContainer {
        width: 50%;
        margin: 0;
        padding: 2em 0;
        .logosContainer {
          width: 100%;
          justify-content: center;

          img {
            margin: 0 2em;
          }
        }
      }
    }
  }
}
